<div class="example-button-container">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-accordion [multi]="false">
    <mat-list role="list" class="todo-list" id="delete">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
        <todo-item class="example-box" *ngFor="let todo of todos; trackBy: trackByMethod" cdkDrag [todo]="todo"></todo-item>
      </div>
    </mat-list>
</mat-accordion>




